body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #212121;
}

a, a:hover {
  color: #1385d8;
}
a:hover {
  text-decoration: underline;
}
.btn {
  text-transform: uppercase;
}
.btn-lg {
  font-size: 14px;
  font-weight: bold;
}

.btn:focus,
.btn:active:focus,
button:focus,
button:active:focus,
input.form-control:focus,
textarea.form-control:focus,
input.form-control,
textarea.form-control {
  outline: none;
  box-shadow: none;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

input.login-form-control,
textarea.login-form-control,
.input.login-form-control {
  padding-left: 0;
  padding-right: 0;
  border: none;
  height: auto;
  resize: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  transition: box-shadow .2s ease, color .2s ease;
}

.btn-logout {
  font-size: 13px;
  margin-left: 15px;
}

.login-form-buttons {
  text-align: right;
}
.login-form-buttons .btn-link {
  padding: 9px 15px;
  margin-left: 2px;
  border-radius: 2px;
}
.login-form-buttons .btn-link:hover {
  background: #e6f1f7;
  text-decoration: none;
}
.login-form-buttons .btn-link:active {
  background: #d4e6f1;
}
.login-form-buttons .btn-link:focus {
  text-decoration: none;
}
.btn.disabled,
.btn[disabled],
.login-form-buttons .btn-link.disabled,
.login-form-buttons .btn-link[disabled] {
  color: #b5d1e6;
  opacity: 1;
}

main.login {
  min-width: 320px;
}
.login_about {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/static/img/icons.png) no-repeat 0 0;
  margin: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
.r2x .login_about {
  background-image: url(/static/img/icons_2x.png);
  background-size: 20px 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .login_about,
  .r2x .login_about {
    background-image: url(/static/img/icons_2x.png);
    background-size: 20px 37px;
  }
}
.login_description {

}
.login_header {
  font-size: 16px;
  line-height: 24px;
  background-color: #4ca3e2;
  color: #fff;
  padding: 9px;
  height: 58px;
}
.login_title {
  padding: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.login_icon {
  display: inline-block;
  width: 27px;
  height: 22px;
  background: url(/static/img/tg_header.png) no-repeat 0 0;
  margin: 9px 14px 9px 12px;
  float: left;
}
.r2x .login_icon {
  background-image: url(/static/img/tg_header_2x.png);
  background-size: 27px 22px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .login_icon,
  .r2x .login_icon {
    background-image: url(/static/img/tg_header_2x.png);
    background-size: 27px 22px;
  }
}
.logout_link {
  font-size: 14px;
  color: #fff;
  padding: 8px 7px;
  margin: 0 7px;
  float: right;
}
.logout_link:hover,
.logout_link:active {
  color: #fff;
  text-decoration: underline;
}
.login_user {
  float: right;
}
.login_bot_title {
  margin: 0 0 35px;
}
.bot_name {
  white-space: nowrap;
}
.login_bot_title .login_bot_photo_image {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin-right: 12px;
  vertical-align: middle;
}
.login_bot_title .login_bot_title_text {
  vertical-align: middle;
}
.login_bot_name {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
}
.login_photos {
  padding: 15px 0 22px;
}
.login_telegram_photo_wrap,
.login_user_photo_wrap {
  display: inline-block;
  background: url(/static/img/arrows.png) no-repeat 49px -27px;
  padding-right: 58px;
  margin: 15px 0;
}
.login_user_photo_wrap {
  background-position: 49px 1px;
}
.r2x .login_telegram_photo_wrap,
.r2x .login_user_photo_wrap {
  background-image: url(/static/img/arrows_2x.png);
  background-size: 27px 22px;
}
.login_telegram_photo,
.login_bot_photo,
.login_user_photo,
.login_bot_photo img,
.login_user_photo img {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.login_telegram_photo {
  background: url(/static/img/tg_logo.png) no-repeat 0 0;
  background-size: 100% 100%;
  margin: -15px 0;
}
.r2x .login_telegram_photo {
  background-image: url(/static/img/tg_logo_2x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .login_telegram_photo_wrap,
  .login_user_photo_wrap,
  .r2x .login_telegram_photo_wrap,
  .r2x .login_user_photo_wrap {
    background-image: url(/static/img/arrows_2x.png);
    background-size: 48px 46px;
  }
  .login_telegram_photo,
  .r2x .login_telegram_photo {
    background-image: url(/static/img/tg_logo_2x.png);
  }
}
.login_bot_photo,
.login_user_photo {
  position: relative;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 24px;
  line-height: 52px;
  color: #fff;
  background: #e57979;
  overflow: hidden;
}
.login_bot_photo:before,
.login_user_photo:before {
  content: attr(data-content);
  font-weight: 500;
}
.login_bot_photo img,
.login_user_photo img {
  position: absolute;
  left: 0;
  top: 0;
}
.login_user_photo {
  margin: -15px 0;
}
.login_photos_large .login_bot_photo,
.login_photos_large .login_user_photo,
.login_photos_large .login_bot_photo img,
.login_photos_large .login_user_photo img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.login_photos_large .login_bot_photo,
.login_photos_large .login_user_photo {
  font-size: 29px;
  line-height: 62px;
}
.login_photos_large .login_user_photo_wrap {
  background-position: 59px 1px;
}
.login_photos_large .login_user_photo_wrap {
  margin: 20px 0;
}
.login_photos_large .login_user_photo {
  margin: -20px 0;
}
.login_header_text {
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 21px;
}
.login_confirm_text {
  font-size: 15px;
  line-height: 21px;
}
.login_confirm_text b {
  font-weight: 500;
}
.login_confirm_text + .login_confirm_text {
  margin-top: 4px;
}
.login_confirm_form_group {
  margin: 25px 0;
}
.login_content {
  padding: 40px 20px 30px;
  text-align: center;
  max-width: 530px;
  margin: 0 auto;
}
.login_content_request {
  padding-top: 60px;
}
.login_content_request .login_button_wrap {
  padding-top: 25px;
}
.login_form_group {
  width: 270px;
  margin: 25px auto 35px;
}
.login_form_group .textfield-item input.form-control {
  font-size: 15px;
  line-height: 1.33;
  font-weight: normal;
  font-family: inherit;
  background-color: transparent;
}
.login-form-control {
  position: relative;
  text-align: center;
  color: #999;
}
.login_form_message {
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  min-height: 19px;
  margin: 7px 0 -19px;
  color: #777;
  text-align: center;
  left: -68px;
  right: 0;
}
.login_form_group.error .login-form-control {
  box-shadow: inset 0 -1px 0 #e2726f;
}
.login_form_group.error .login-form-control:focus {
  box-shadow: inset 0 -2px 0 #e2726f;
}
.login_form_group.error .login_form_message,
.login_form_group .is-invalid .login_form_message {
  color: #d45a58;
  display: block;
}
.login_code_field_wrap {
  width: 56px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
}
.login_number_field_wrap {
  width: 202px;
  display: inline-block;
  vertical-align: top;
}
.login_code_field_wrap .textfield-item input.form-control {
  text-align: center;
}
.login_form_group .textfield-item {
  padding: 0 0 20px;
  margin: 0 0 -20px;
}
.login_form_group .textfield-item-underline {
  bottom: 20px;
}
.login_country_field_wrap {
  position: relative;
}
.login_country_field_wrap:before {
  content: '';
  float: right;
  display: inline-block;
  margin: 16px 10px 0;
  width: 14px;
  height: 9px;
  background: url(/static/img/icons.png) no-repeat -3px -29px;
}
.r2x .login_country_field_wrap:before {
  background-image: url(/static/img/icons_2x.png);
  background-size: 20px 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .login_country_field_wrap:before,
  .r2x .login_country_field_wrap:before {
    background-image: url(/static/img/icons_2x.png);
    background-size: 20px 37px;
  }
}
.login_country_field_wrap .login_country_search_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.login_country_field_wrap.opened .login_country_search_wrap {
  visibility: visible;
  opacity: 1;
}
.login_country_field_wrap.opened .login_country_select {
  visibility: hidden;
  opacity: 0;
}
.login_country_select {
  border-bottom: 1px solid #e6e6e6;
  display: block;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  text-align: left;
  color: #ccc;
  color: rgba(0,0,0,.26);
  cursor: pointer;
  position: relative;
}
.login_country_select.is-dirty {
  color: inherit;
}
.login_country_search_results {
  position: absolute;
  width: 290px;
  margin: -2px -10px;
  background: #fff;
  text-align: left;
  padding: 7px 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15);
  max-height: 170px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 7;
}
.login_country_search_result,
.login_country_search_noresult {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 12px;
  cursor: pointer;
}
.login_country_search_result.selected {
  background: #f2f2f2;
}
.login_country_search_result .prefix {
  font-size: 13px;
  line-height: 16px;
  color: #a8a8a8;
  padding-left: 8px;
}
.login_country_search_noresult {
  color: #a8a8a8;
  cursor: auto;
}
.login_country_select,
.login_form_group input.form-control,
.login_form_group .textfield-item-placeholder {
  font-size: 15px;
  line-height: 1.33;
  font-weight: normal;
  font-family: inherit;
}
.login_country_select,
.login_form_group input.form-control {
  padding: 10px 0;
}
.login_form_group input.form-control:focus {
  outline: none;
}
.login_form_group .textfield-item-placeholder {
  bottom: 0;
  color: #ccc;
  color: rgba(0,0,0,.26);
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left
}
.login_phone_field_wrap {
  padding-top: 10px;
}
.login_phone_field {
  font-weight: 500;
  color: #222;
}
.login_phone_invalid {
  margin-left: 10px;
  font-size: 13px;
  position: absolute;
  right: 0;
}
.logout_wrap {
  position: absolute;
  margin: 15px 18px;
  right: 0;
  top: 0;
}


.login_button_wrap button + button {
  margin-left: 10px;
}
.login_button_wrap {
  margin-top: 25px;
  padding-bottom: 20px;
}
.login_button_wrap + .login_button_wrap {
  margin-top: 15px;
}
#login-form .login_button_wrap {
  padding-top: 24px;
}
.logout_button {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
