{% extends "index.html" %}
{% block content %}
    <form class="login_form" action="{{ url_for('password', phone=phone) }}" method="post">
        <div class="login_form_group" id="login-form-group">
            <div class="login_phone_field_wrap">
                <div class="textfield-item" id="login-phone-textfield">
                    {{ code_form.code(class_="form-control", placeholder="Enter 2FA password") }}
                    <div class="textfield-item-underline"></div>
                    <span class="textfield-item-error login_form_message" id="login-alert"></span>
                </div>
            </div>
            </div>
        </div>
        <div class="login_button_wrap">
            {{ code_form.submit(class_="button-item ripple-handler") }}
        </div>
    </form>
{% endblock %}
